@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(210, 100%, 40%, 1);
  transition: 0.4s;
}
:root {
  --color-text: #000;
  --color-heading: #000;
  --color-background: #fff;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(210, 100%, 40%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  a,
  .green {
    text-decoration: none;
    color: hsla(209, 100%, 58%, 1);
    transition: 0.4s;
  }
  :root {
    --color-text: #fff;
    --color-heading: #fff;
    --color-background: #000;
  }
}
@media (prefers-color-scheme: dark)
and (hover: hover){
  a:hover {
    background-color: hsla(209, 100%, 58%, 0.2);
  }
}

/* @media (min-width: 1024px) { */
/*   body { */
/*     display: flex; */
/*     place-items: center; */
/*   } */

/*   #app { */
/*     display: grid; */
/*     grid-template-columns: 1fr 1fr; */
/*     padding: 0 2rem; */
/*   } */
/* } */
